<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework, Version = v4.7.2" />
	</startup> -->
	<appSettings>
    <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key] -->
		<add key="url1" value="https://raw.githubusercontent.com/Jambalaya751955/DuelistsUniteScripts/master/" />
    <add key="url2" value="https://raw.githubusercontent.com/shadowfox87/ygopro2/master/" />
    <add key="url3" value="https://raw.githubusercontent.com/shadowfox87/YGOSeries10CardPics/master/" />
    <add key="url4" value="https://raw.githubusercontent.com/shadowfox87/YGOCloseupsPng300x300/master/" />
    <!-- game save path -->
		<add key="path" value="..\" />
		<!-- use proxy -->
		<add key="useproxy" value="false" />
		<add key="proxy" value="127.0.0.1:8080" />
		<!-- if file exitis then no download -->
		<add key="ignore1" value="update/update.exe" />
	</appSettings>
</configuration>
